* {
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: black;
  }
  
  body {
    background: rgb(230, 218, 218);
    background: linear-gradient(0deg, rgba(230, 218, 218, 1) 0%, rgba(39, 64, 70, 1) 50%);
    font-family: 'Mooli', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: #EAEAEA;
  }
  
  footer {
    text-align: center;
    padding: 10px;
  }
  
  /* color del footer */
  footer {
    color: azure;
    background-color: black;
    text-align: center;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .social-links {
    margin-top: 10px;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
  }
  
  /* iconos del footer  */
  .social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    list-style: none;
  }
  
  /* Pagina Proyectos */
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
  }
  
  .nav-link {
    color: white;
  }
  
  .navbar-nav .nav-link:hover {
    color: white;
  }
  
  .navbar-toggler {
    background-color: #008582;
    color: #E8E8E8;
  }
  
  .card {
    box-shadow: rgba(16, 16, 138, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    background: rgb(0, 133, 130);
    background: linear-gradient(0deg, rgba(0, 133, 130, 1) 3%, rgba(3, 102, 98, 1) 7%, rgba(8, 51, 47, 1) 24%, rgba(11, 17, 13, 1) 44%);
    color: #E8E8E8;
  }
  
  .card-img-top {
    margin-bottom: 3px;
    padding: 15px;
  }
  
  .card:hover {
    border: 1px solid white;
  }
  
  /* formulario */
  .containerform {
    display: flex;
    justify-content: center;
  }
  
  form {
    background-color: black;
    color: #E8E8E8;
    height: 500px;
    width: 500px;
    padding: 20px;
    border-radius: 17px;
    margin: 10px;
    margin-bottom: 30px;
  }
  
  .form-control {
    background-color: #C5C7C9;
  }
  
  .d-grid {
    padding-top: 5px;
  }
  
  .div-proyectoss {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 10px;
  }
  
  .btnn {
    display: flex;
  
  }
  
  /* estilos-servicios */
  .main-servicios {
    margin: 30px;
  }
  
  /* gird-inicio */
  
  #grid-inicio {
    display: grid;
    grid-template-areas:
  
      "section main"
  
    ;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
  
  .section-inicio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  
  .main-inicio {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
  }
  
  .section2-inicio {
    display: none;
  }
  
  #div_inicio {
    display: none;
  }
  
  /* Grid-Sobre Mi */
  #sobre- {
  
    display: grid;
    grid-template-areas:
  
      "main aside"
      "main  aside"
  
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 25px;
    height: 100vh;
  }
  
  .container-main {
    display: flex;
  }
  
  .d-grid {
    display: flex;
  }
  
  .aside-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 70px;
  }
  
  .texto-p {
    font-size: large;
  }
  
  .main_sobre {
    display: none;
  }
  
  /* Estilos para cambiar color en hover */
  .btn {
    background-color: black;
    border: none;
  }
  
  .btn:hover {
    background: #833ab4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  
  .Herramientas-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Movil */
  @media screen and (max-width:768px) and (min-width:320px) {
    #div_inicio {
      display: grid;
      grid-template-areas:
        "nav"
        "section"
        "main"
        "footer"
  
      ;
      grid-template-columns: 1fr;
      height: auto;
    }
  
    .section-inicio {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
    }
  
    .main-inicio {
      display: flex;
      align-items: center;
      padding-top: 50px;
      padding-bottom: 50px;
      padding-right: 30px;
    }
  
    .section2-inicio {
      display: none;
    }
  
    #grid-inicio {
      display: none;
    }
  
    .div_inicio {
      display: flex;
      flex-direction: column;
    }
  
    .inicio_sec {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .mainn-inicio {
      display: flex;
      margin: 10px;
    }
  }
  
  
  /* Movil */
  @media screen and (max-width:768px) and (min-width:320px) {
    #sobre_mi {
  
      display: grid;
      grid-template-areas:
  
        "nav"
        "main"
        "footer"
  
      ;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      height: 100vh;
    }
  
    .div-botones {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .main_sobre {
      display: flex;
    }
  
    .container-main {
      display: none;
    }
  
    .d-grid {
      display: flex;
    }
  
    .aside-sobre {
      display: none;
    }
  
    .texto-p {
      display: none;
    }
  
    #sobre- {
      display: none;
    }
  }