* {
  margin: 0;
  padding: 0;
}

/* estilos nav */
nav {
  background-color: black;
}
nav .navbar-toggler {
  background: rgb(220, 36, 36);
  background: linear-gradient(194deg, rgb(220, 36, 36) 0%, rgb(74, 86, 157) 96%);
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center;
}
.navbar-nav .nav-link {
  color: white;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 16%, rgb(8, 34, 25) 38%, rgb(29, 120, 88) 73%, rgb(48, 195, 143) 96%);
  font-family: "Mooli", sans-serif;
  max-height: max-content;
}

.body-sobremi {
  background: rgb(0, 133, 130);
  background: linear-gradient(0deg, rgb(0, 133, 130) 3%, rgb(3, 102, 98) 7%, rgb(8, 51, 47) 28%, rgb(10, 27, 23) 43%, rgb(11, 19, 15) 56%, rgb(11, 17, 13) 82%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #eaeaea;
}

/* footer */
footer {
  color: azure;
  background-color: black;
  text-align: center;
  padding: 10px;
}
footer .-content {
  max-width: 800px;
  margin: 0 auto;
}

/* iconos del footer  */
.social-links {
  margin-top: 10px;
  text-decoration: none;
}
.social-links a {
  text-decoration: none;
}
.social-links a .social-icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  list-style: none;
}

.p-footer {
  margin-top: 10px;
}

/* Estilos de card */
.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 10px;
  background: rgb(0, 133, 130);
  background: linear-gradient(0deg, rgb(0, 133, 130) 3%, rgb(3, 102, 98) 7%, rgb(8, 51, 47) 24%, rgb(11, 17, 13) 44%);
  color: #e8e8e8;
}
.card .card-img-top {
  margin-bottom: 3px;
  padding: 8px;
}

.card:hover {
  border: 1.5px solid white;
}

/* formulario */
.containerform {
  display: flex;
  justify-content: center;
}
.containerform form {
  background: rgb(0, 133, 130);
  background: linear-gradient(0deg, rgb(0, 133, 130) 3%, rgb(3, 102, 98) 7%, rgb(8, 51, 47) 28%, rgb(10, 27, 23) 43%, rgb(11, 19, 15) 56%, rgb(11, 17, 13) 82%);
  color: #e8e8e8;
  height: 480px;
  width: 500px;
  padding: 20px;
  border-radius: 17px;
  margin: 10px;
  margin-bottom: 30px;
}
.containerform form .form-control {
  background-color: #c5c7c9;
}

/* div proyectos */
.div-proyectoss {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 10px;
  overflow: hidden;
}

/* estilos-servicios */
.main-servicios {
  margin: 30px;
  overflow: hidden;
}
.main-servicios .Herramientas-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para cambiar color en hover */
.btn {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 42%, rgb(233, 233, 8) 100%);
  border: none;
}

.btn:hover {
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}

.a-index {
  text-decoration: none;
  color: #fd1d1d;
}

.accordion-item {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 16%, rgb(8, 34, 25) 38%, rgb(29, 120, 88) 73%, rgb(48, 195, 143) 96%);
  color: white;
}

/* Pading de btn */
.d-grid {
  padding-top: 5px;
}

/* Aniamciones pagina de incio  */
.h_inicio {
  animation: h_inicio 2s linear infinite;
}
@keyframes h_inicio {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30px);
    /* Ajusta la distancia que deseas que se mueva */
  }
  100% {
    transform: translateX(0);
  }
}

.span1 {
  display: block;
  font-family: "Mooli", sans-serif;
  font-size: 1.5rem;
  white-space: nowrap;
  border-right: 4px solid;
  width: 23ch;
  color: yellow;
  animation: typing 6s steps(21), blink 0.7s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
    @keyframes blink {
      50% {
        border-color: transparent;
      }
    }
  }
}

/* gird-inicio */
#grid-inicio {
  display: grid;
  grid-template-areas: "section main";
  grid-template-columns: 1fr 1fr;
  height: auto;
}

.section-inicio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.main-inicio {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 30px;
}

.section2-inicio {
  display: none;
}

#div_inicio {
  display: none;
}

/* Grid-Sobre Mi */
#sobre- {
  display: grid;
  grid-template-areas: "main aside" "main  aside";
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
  height: 100vh;
}

.h1-sobre {
  display: none;
}

.container-main {
  display: flex;
}

.d-grid {
  display: flex;
}

.aside-sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 100px;
}

.div-btn-sobre {
  margin-top: 50px;
}

.texto-p {
  font-size: large;
}

.main_sobre {
  display: none;
}

/* Movil */
@media screen and (max-width: 768px) and (min-width: 320px) {
  #div_inicio {
    display: grid;
    grid-template-areas: "nav" "section" "main" "section2-inicio" "footer";
    grid-template-columns: 1fr;
    height: auto;
  }
  .section-inicio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .main-inicio {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
  }
  .section2-inicio {
    display: block;
  }
  #grid-inicio {
    display: none;
  }
  .div_inicio {
    display: flex;
    flex-direction: column;
  }
  .inicio_sec {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainn-inicio {
    display: flex;
    margin: 10px;
  }
}
/* Movil */
@media screen and (max-width: 768px) and (min-width: 320px) {
  #sobre_mi {
    display: grid;
    grid-template-areas: "nav" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
  }
  .h1-sobre {
    display: none;
  }
  .div-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main_sobre {
    display: flex;
    background: rgb(0, 133, 130);
    background: linear-gradient(0deg, rgb(0, 133, 130) 3%, rgb(3, 102, 98) 7%, rgb(8, 51, 47) 28%, rgb(10, 27, 23) 43%, rgb(11, 19, 15) 56%, rgb(11, 17, 13) 82%);
  }
  .container-main {
    display: none;
  }
  .d-grid {
    display: flex;
  }
  .aside-sobre {
    display: none;
  }
  .texto-p {
    display: none;
  }
  #sobre- {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
