* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #0b110d;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}


footer {
  text-align: center;
  padding: 10px;
}

/* color del footer */
footer {
  color: azure;
  background-color: #0b110d;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.social-links {
  margin-top: 10px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* iconos del footer  */
.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  list-style: none;
}

/* Pagina Proyectos */
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center;
}

.nav-link {
  color: #f6f5f5;
}

.navbar-nav .nav-link:hover {
  color: aquamarine;
}

.navbar-toggler {
  background-color: #008582;
  color: #E8E8E8;
}



.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #0b110d;
  color: #E8E8E8;
}

.card-img-top {
  margin-bottom: 3px;
  padding: 15px;
}

.card:hover {
  border: 2px solid #777;
}

/* formulario */
.containerform {
  display: flex;
  justify-content: center;
}

form {
  background-color: black;
  color: #E8E8E8;
  height: 520px;
  width: 500px;
  padding: 20px;
  border-radius: 17px;
  margin: 30px;
}

.d-grid {
  padding-top: 35px;
}

/* estilos-servicios */
.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 5px;
}



/* grid-Inicio */

#inicio-grilla {
  display: grid;
  grid-template-areas:
    "header header"
    "main section"
    "main aside"
    "footer footer"
  ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0fr 1fr 2fr 1fr;
  column-gap: 3px;
  height: 100vh;
}

header {
  grid-area: header;
}

section {
  grid-area: section;
  display: block;
  justify-content: center;
  align-self: center;
}

footer {
  grid-area: footer;
}

main {
  grid-area: main;
  align-self: center;
}

.img {
  justify-content: flex-start;
  grid-area: aside;
  width: 100%;
  height: auto;

}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

nav {
  grid-area: nav;
}

/* Grid-Sobre Mi */
#-sobre {
  display: grid;
  grid-template-areas:

    "section  aside"
    "section  aside"
    "footer footer"
  ;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5px;
  height: 100vh;
}

footer {
  grid-area: footer;
  position: relative;
  bottom: 0;
}

section {
  grid-area: section;
  font-family: "Poppins", sans-serif;
  justify-self: start;
}

section img {
  grid-area: img;
  max-height: 600px;
  max-width: 900px;
  align-self: start;
}

nav {
  grid-area: nav;
}


/* Estilos para cambiar color en hover */
td:hover {
  background-color: rgba(0, 18, 223, 1);
}

.btn {
  background-color: #008582;
}

.btn:hover {
  background-color: blue;
}


/* Movil */

@media screen and (max-width:768px) and (min-width:320px) {
  #inicio-grilla {
    display: grid;
    grid-template-areas:
      "header"
      "section"
      "main"
      "aside"
      "footer"
    ;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    height: 100vh;

  }

  .cta-button {
    display: inline-block;
    align-items: center;
    padding: 5px 10px;
    margin: 10px;
  }

}