// Body
$color-fondo-body-primario: #f5f5f5;
// Body Sobre Mi
$color-fondo-sobremi-primario: #f5f5f5;
// Footer
$color-texto-footer: azure;
$color-fondo-footer: rgb(0, 0, 0);
// Nav
$color-fondo-nav: black;
$color-fondo-navbar-toggler: white;
$color-texto-enlaces-nav: white;
// Cards
$color-fondo-card-primario: #ccc;
$color-sombra-card:rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
$color-texto-card: black;
// Buttons
$color-btn-fondo: #eece1a;
$color-btn-borde: white;
$color-btn-hover-fondo-primario: black;

// Reset
$color-h1: black;
$color-encabezados-y-parrafos: black;
// Accordion-index
$color-accordion-button-fondo: white;
$color-accordion-button-texto: white;
$color-accordion-item-fondo-primario: #ccc;
$color-accordion-item-texto: black;
$color-a-index-texto: #fd1d1d;
