// Body
$color-fondo-body-primario: #f5f5f5;
// Body Sobre Mi
$color-fondo-sobremi-primario: #f5f5f5;
// Footer
$color-texto-footer: azure;
$color-fondo-footer: rgb(0, 0, 0);
// Nav
$color-fondo-nav: black;
$color-fondo-navbar-toggler: white;
$color-texto-enlaces-nav: white;
// Cards
$color-fondo-card-primario: #ccc;
$color-sombra-card: 0 4px 6px rgba(0, 0, 0, 0.1);
$color-texto-card: black;
// Buttons
$color-btn-fondo: #eece1a;
$color-btn-borde: white;
$color-btn-hover-fondo-primario: black;
$color-whatsapp-hover-fondo: #128c7e;
// Reset
$color-h1: black;
$color-encabezados-y-parrafos: black;
// Accordion-index
$color-accordion-button-fondo: white;
$color-accordion-button-texto: white;
$color-accordion-item-fondo-primario: #ccc;
$color-accordion-item-texto: black;
$color-a-index-texto: #fd1d1d;
