// ACORDION DE INCIO VISTA MOVIL
.accordion-button:not(.collapsed) {
  color: $color-accordion-button-texto;
  background-color: $color-accordion-button-fondo;
}
// HIJOS DEL ACORDION
.accordion-item {
  background: $color-accordion-item-fondo-primario;
  color: $color-accordion-item-texto;

  .a-index {
    text-decoration: none;
    color: $color-a-index-texto;
  }
}
// BOTON DEL ACORDION
.accordion-button:not(.collapsed) {
  color: black;
}
