body {
  background: $color-fondo-body-primario;
  background: $color-fondo-body-secundario;
  font-family: "Mooli", sans-serif;
  max-height: max-content;
}

.body-sobremi {
  background: $color-fondo-sobremi-primario;
  background: $color-fondo-sobremi-secundario;
}
