/* footer */
footer {
    color: $color-texto-footer;
    background-color: $color-fondo-footer;
    text-align: center;
    padding: 10px;
  
    .-content {
      max-width: 800px;
      margin: 0 auto;
    }
  }
  
  /* iconos del footer  */
  
  .social-links {
    margin-top: 10px;
    text-decoration: none;
  
    a {
      text-decoration: none;
  
      .social-icon {
        width: 30px;
        height: 30px;
        margin: 0 10px;
        list-style: none;
      }
    }
  }
  
  .p-footer {
    margin-top: 10px;
    color: whitesmoke;
  }