/* gird-inicio */
#grid-inicio {
  display: grid;
  grid-template-areas: "section main";
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}
// SECCION INICIO
.section-inicio {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
// MAIN INICIO
.main-inicio {
  display: flex;
  align-items: center;
  padding-right: 40px;
}
// SECTION 2 INICIO
.section2-inicio {
  display: none;
}

#div_inicio {
  display: none;
}

/* Grid-Sobre Mi */
#sobre- {
  display: grid;
  grid-template-areas:
    "main aside"
    "main  aside";
  grid-template-columns: 0.6fr 1.5fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
  min-height: 100vh;
}

// CONTENEDOR MAIN 
.container-main {
  display: flex;
  min-height: 100vh;
}

.d-grid {
  display: flex;
}
// ASIDE SOBRE
.aside-sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-right: 100px;
}
// BOTONES SOBRE MI
.div-btn-sobre {
  margin-top: 50px;
}
// TEXTO P 
.texto-p {
  font-size: large;
}
// MAIN SOBRE
.main_sobre {
  display: none;
}