// MEDIA QUERIS VISTA MOVIL INICIO Y SOBRE MI
@media screen and (max-width: 768px) and (min-width: 320px) {
  #div_inicio {
    display: grid;
    grid-template-areas:
      "nav"
      "section"
      "main"
      "section2-inicio"
      "footer";
    grid-template-columns: 1fr;
    min-height: 100vh;
  }
// SECCION
  .section-inicio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  ul {
    display: flex;
    flex-direction: column;
  }
// MAIN
  .main-inicio {
    display: flex;
    align-items: center;
  }

  .section2-inicio {
    display: block;
    margin-bottom: 12px;
  }

  #grid-inicio {
    display: none;
  }

  .div_inicio {
    display: flex;
    flex-direction: column;
  }

  .inicio_sec {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mainn-inicio {
    display: flex;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;

  }
}
// VISTA MOVIL SOBRE MI
#sobre_mi {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr;
  min-height: 100vh;
}

.div-botones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_sobre {
  display: flex;
  min-height: 100vh;
}

.d-grid {
  display: flex;
}