@media screen and (max-width: 768px) and (min-width: 320px) {
  #div_inicio {
    display: grid;
    grid-template-areas:
      "nav"
      "section"
      "main"
      "section2-inicio"
      "footer";
    grid-template-columns: 1fr;
    min-height: 100vh;
  }

  .section-inicio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  ul {
    display: flex;
    flex-direction: column;
}

  .main-inicio {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
  }

  .section2-inicio {
    display: block;
  }

  #grid-inicio {
    display: none;
  }

  .div_inicio {
    display: flex;
    flex-direction: column;
  }

  .inicio_sec {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mainn-inicio {
    display: flex;
    margin: 15px;
  }
}

  #sobre_mi {
    display: grid;
    grid-template-areas:
      "nav"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr;
    min-height: 100vh;
  }

  .div-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main_sobre {
    display: flex;
  }


  .d-grid {
    display: flex;
  }

 
