.card {
  background: rgb(15, 52, 67);
  background: linear-gradient(
    180deg,
    rgba(15, 52, 67, 1) 0%,
    rgba(15, 52, 67, 1) 59%,
    rgba(19, 73, 77, 1) 75%,
    rgba(25, 102, 92, 1) 83%,
    rgba(52, 232, 158, 1) 99%
  );
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  color: #e8e8e8;
  border: 2px solid black;

  .card-img-top {
    margin-bottom: 3px;
    padding: 8px;
  }
}

.card:hover {
  border: 2px solid #34e89e;
}
