.containerform {
  display: flex;
  justify-content: center;

  form {
    background: black;
    color: #e8e8e8;
    height: 480px;
    width: 500px;
    padding: 20px;
    border-radius: 17px;
    margin: 10px;
    margin-bottom: 30px;

    .form-control {
      background-color: #c5c7c9;
    }
  }
}
