.main-servicios {
  padding: 10px;
  overflow: hidden;
  min-height: 100vh;

  .Herramientas-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
  }
}

.main-contacto {
  min-height: 100vh;
}
.sobremi {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}