// NAVEGADOR
nav {


  .navbar-toggler { 
    background: $color-fondo-navbar-toggler;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
}
// NAV
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center;
// LINK DE NAVEGADOR
  .nav-link {
    color: $color-texto-enlaces-nav;
    transition: color 0.5s; /* Agrega una transición de color suave */
  }
  .navbar-nav .nav-link:hover {
    color: yellow; /* Cambia el color del texto en el hover */
  }


}
