nav {
  background-color: $color-fondo-nav;

  .navbar-toggler {
    background: $color-fondo-navbar-toggler;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center;

  .nav-link {
    color: $color-texto-enlaces-nav;
  }
}
