// BOTON
.btn {
  background-color: $color-btn-fondo;
  border: $color-btn-borde;
  width: 250px;
  transition: background-color 0.2s; 
  cursor: pointer;
}
// CURSOR BOTON
.btn:hover {
  background: $color-btn-hover-fondo-primario;
}
// BOTON DE whatsapp IMG
.whatsapp-button img {
  animation: rubberBand 2s infinite;
}
// BOTON WHATSAPP
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  img {
    width: 53px;
    height: 53px;
    border-radius: 30%;
    padding: 8px;
  }
}
// BOTON DE CARD
.d-grid {

  display: flex;
  justify-content: center;
}
