.btn {
  background-color: $color-btn-fondo;
  border: $color-btn-borde;
  width: 310px;
}

.btn:hover {
  background: $color-btn-hover-fondo-primario;
}

.whatsapp-button img {
  animation: rubberBand 2s infinite;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  img {
    width: 53px;
    height: 53px;
    border-radius: 30%;
    padding: 8px;

    :hover {
      background-color: $color-whatsapp-hover-fondo;
    }
  }
}

.d-grid {
  padding-top: 8px;
  display: flex;
  justify-content: center;
}
